
#contact {
  background-color: #F8512F;
  color: white;
  padding: 20px 10px;
}

form {
  border: solid  1px #fff;
  background-color: #FF6633;
  padding: 15px;
  width: 350px;
}

h1 {
  font-size: 51px;
  font-weight: 600;
}
p {
  padding-top: 0px;
  margin: 0px;
}

h4 {
  margin-bottom: 0px;
  padding: ;
}

.row-2 {
  margin-top: 60px;
}

.map {
  margin-top: 20px;
}
