#nav-features {
  background-color:;
}

.our-story {
  margin-top: 50px;
}

h1 {
  font-family: 'Pacifico';
  color: #f8512f;
  font-size: 70px;

}

h3 {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
}

p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}

#font-right {
  color: #EAE9E9;
  position: absolute;
  z-index: -1;
  font-family: 'Serif';
  font-weight: 600;
  font-size: 205px;
}
